<%
def icon(file)
  # Map extensions to types
  filetypes = {
    :archive => %w{ tar zip gz bz2 rar },
    :markup  => %w{ xml json yaml },
    :text    => %w{ txt doc docx odt },
    :image   => %w{ png gif jpg jpeg tiff bmp },
  }

  # Defaults
  iconsize = '24'
  icon     = 'file'
  
  iconsdir = File.join(File.dirname(__FILE__), '..', 'public', 'icons')
  filetype = File.extname(file).sub(/^\./, '')
  filetype = filetype.empty? ? file : filetype

  if File.exist?(File.join(iconsdir, "#{filetype}.png"))
    #icon specific to the extension
    icon = filetype
  else
    #icon that fits the file type this extension belongs to
    filetypes.each do |type, exts|
      if exts.include?(filetype) and File.exists?(File.join(iconsdir, "#{type.to_s}.png"))
        icon = type.to_s 
      end
    end
  end

  %Q|src="/icons/#{icon}.png" alt="#{icon}" width="#{iconsize}" height="#{iconsize}"|
end

if @explicit_rev
  base = "/rev/#{@rev}/"
else
  base = "/"
end
base = base + "#{@repo_name}/" if @repo_name

if @repo_name
  if @path.empty?
    up_one = "#{base}"
  else
    up_one = "#{base}#{@path}"
  end
  up_one.sub!(/[^\/]+\/?$/,'')
%>
    <img <%= icon('folder') %>><a href="<%= up_one %>">../</a><br />
<% end %>
<% @dirs.each do |val| %>
    <img <%= icon('folder') %>><a href="<%= base %><%= val %>/"><%= val.split('/').last %>/</a><br />
<% end %>
<% @files.each do |val| %>
    <img <%= icon(val.split('/').last) %>><a href="<%= base %><%= val %>"><%= val.split('/').last %></a><br />
<% end %>
